
//	-------------
//	Type
	
	@mixin smooth 			{ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
 	@mixin typefix 			{-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;}
	@mixin uc 				{text-transform:uppercase; letter-spacing:1px;}
	@mixin lc 				{text-transform:lowercase; letter-spacing:0;}
	@mixin untexttransform 	{text-transform:none; letter-spacing:0;}
	@mixin texthide 		{line-height: 0; font-size: 0; color: transparent;}

	
//	-------------
//	Responsive
	
	@mixin respond($media) 	{@media only screen and (min-width: $media) { @content; } }



	
//	Background image with no-svg fallback (assumes Modernizr)
	@mixin bg-image($filename, $type:svg) {
		@if $type == 'svg' {
			background-image: url('#{$img-path}#{$filename}.svg');
			html.no-svg & {background-image: url('#{$img-path}#{$filename}.png');}	
		}
		@else {
			background-image: url('#{$img-path}#{$filename}.#{$type}');
		}
		background-repeat: no-repeat;
	}
 
	@mixin bg-color($r, $g, $b, $a) {
		$rgba: rgba($r, $g, $b, $a);
	 	$ie-hex-str: ie-hex-str($rgba);
	 	background-color: transparent;
	 	background-color:rgba($r,$g,$b,$a);
	 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	 	zoom: 1;
	 }
	 


